.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container {
  display: flex;
  gap: 40px; /* Увеличили расстояние между карточками */
  overflow-x: auto;
  padding: 20px 60px; /* Добавили паддинг слева и справа */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 600px; /* Высота контейнера */
  align-items: center; /* Центрируем карточки по вертикали */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.benefit-card {
  min-width: 360px;
  max-width: 420px;
  height: 460px;
  background: linear-gradient(135deg, #F5F5F5, #F5F5F5);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.203);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.benefit-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.benefit-card-content {
  padding: 20px;
}

.benefit-card-title {
  font-size: 22px; /* Увеличили размер заголовка */
  font-weight: 700; /* Жирный шрифт для заголовка */
  margin-bottom: 10px;
  color: #f39c12;
}

.benefit-card-description {
  font-size: 20px; /* Увеличили размер основного текста */
  font-weight: 550;
  color: #444;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .scroll-container {
    gap: 15px;
  }

  .benefit-card {
    min-width: 280px;
  }
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 40px; /* Увеличили отступ сверху */
  padding-bottom: 40px; /* Увеличили отступ снизу */
  justify-content: center; /* Центрируем содержимое по горизонтали */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}

/* Перемещение заголовка ниже */
h2 {
  margin-top: 60px;
  margin-bottom: -80px; /* Добавляем отступ сверху для заголовка */
  font-size: 30px; /* Увеличили размер заголовка */
  font-weight: 800; /* Жирный шрифт для заголовка */
}